@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #4338ca;
  --color-background-light: #f4f4f5;
  --color-background-dark: #18181b;

  --font-sans: "Inter", sans-serif;
  --font-display: "Inter", sans-serif;

  --radius: 0.5rem; /* Maps to rounded-* utilities */
}
@variant dark (&:where(.dark, .dark *));

@layer base {

  html {
    font-family: theme('fontFamily.sans');
  }

  body {
    @apply bg-background-light text-background-dark antialiased;
  }

  .dark body {
    @apply bg-background-dark text-background-light;
  }
}
